<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/altMovement.js" charset="utf-8"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="game">
      <div id="starting-pixel"></div>
    </div>
    <button id="start">Start</button>
    <button id="stop">Stop</button>
  </body>
</html>
