body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#game {
  position:relative;
  width:800px;
  height:600px;
  background-color:yellow;
}

#starting-pixel {
  position:absolute;
  width:32px;
  height:32px;
  background-color:blue;
  left:400px;
  top:300px;
}

.shot {
  position:absolute;
  width:6px;
  height:20px;
  background-color: green;
}
