body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.game {
  width:800px;
  height:600px;
  background-color:yellow;
}

#starting-pixel {
  position:absolute;
  width:25px;
  height:25px;
  background-color:blue;
  left:400px;
  top:300px;
}
